{% extends 'TIP/base.html' %}

{% load static %}

{% block html_header %}
    {% include 'TIP/html_header.html' %}
{% endblock html_header %}

{% block aside %}
    {% include 'TIP/aside.html' %}
{% endblock aside %}

{% block header %}
    {% include 'TIP/header.html' %}
{% endblock header %}

{% block contents %}
    {% include 'TIP/threat_contents.html' %}
{% endblock contents %}

{% block footer %}
    {% include 'TIP/footer.html' %}
{% endblock footer %}

{% block script %}
{% endblock script %}